@page
@model BulkyRezor_temp.Pages.Categories.DeleteModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Delete Category</h3>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Category.Id" hidden/>
        <div class="mb-3 row p-1">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" disabled class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-2 row p-1">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row mt-4">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Categories/Index" class="btn btn-secondary form-control border">Back To List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
